
<div class="custom-container text-center">
    <div class="btn-group-vertical">
        @Html.ActionLink("Continue work", "Menu", null, new { @class = "btn btn-default btn-lg" })
        @Html.ActionLink("Get card back", "GetCardBack", null, new { @class = "btn btn-default btn-lg" })
    </div>
</div>

