
@{
    ViewBag.Title = "GetMoneySuccessMessage";
    Layout = "~/Views/Shared/_BankomatLayout.cshtml";
}

<div class="custom-container text-center">
    <div class="panel panel-info">
        <div class="panel-heading">Get your money ^_^</div>
    </div>
    @Html.Partial("_AfterOperationMenu")
</div>

